body {
    margin: 0;
}

.bg {
    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    /* align-self: center; */
}

h1,
h2 {
    color: white;
    text-align: center;
    /* font-weight: 500; */
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
}

.location {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* border: 1px solid #bebfc5; */
    height: 50px;
    width: 500px;
}

button.findfood {
    position: absolute;
    background-color: #db741e;
    color: #fff;
    /* right: 0; */
    width: 100px;
    height: 47px;
    border: none;
}

.location input {
    border: none;
    padding: 15px;
    width: 80%;
}

.location span {
    position: absolute;
    right: 60px;
    padding: 18px;
    color: #535665;
    font-size: 13px;
    cursor: pointer;
}

.flex-1 {
    /* margin-left: 10%; */
    /* margin-right: 20%;  */
    display: flex;
    flex-direction: row;
}

.flex-1 div {
    flex-basis: 25%
}

.step {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

h3 {
    font-weight: 400;
    text-align: center;
}