*,
html {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.rest {
  width: 254px;
  height: 160px;
  padding: 10px;
}

.restaurant {
  margin: 10px;
}

.restaurant div {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.bg h1,
.bg h2 {
  color: white;
  text-align: center;
}

.bg h1 {
  font-weight: 500;
}

.bg h2 {
  font-weight: 300;
}

.flex-1 {
  display: flex;
  flex-direction: row;
}

.flex-1 div {
  flex-basis: 25%;
}

.step {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

h3 {
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.itemList {
  display: flex;
  flex-flow: row wrap;
}

.item {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid black;
  width: 250px;
  height: fit-content;
  text-transform: capitalize;
}

.item button {
  cursor: pointer;
  border: 0.5px solid #fc8019;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px;
  color: #fc8019;
  text-transform: uppercase;
}

h5 {
  color: rgb(121, 112, 112);
  font-weight: 400;
  padding: 0;
  margin: 5px;
}

h4 {
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

.menuComponents1 {
  flex-basis: 70%;
}

.menuComponents2 {
  flex-basis: 30%;
  margin: 10px;
  padding: 20px;
  text-transform: capitalize;
  height: fit-content;
  background: #e9ecee;
}

button.seeRestaurant {
  background-color: #db741e;
  color: #fff;
  width: 100px;
  height: 47px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 25px;
  text-decoration: none;
}

.orderSteps h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}

.orderSteps h5 {
  text-align: center;
  margin-top: 0;
  font-weight: 500px;
  color: rgb(121, 112, 112);
  font-size: 15px;
}

.item img {
  width: 250px;
  height: 200px;
}

.rest img {
  width: 254px;
  height: 160px;
}

.cartItem {
  display: flex;
}

.cartItem div {
  flex-basis: 25%;
  padding: 5px;
  text-align: center;
}

.flex1 {
  display: grid;
}

.billDetails {
  display: flex;
  flex-direction: column;
}

.billDetails div {
  flex-basis: 25%;
}

.signUpForm {
  /* display: block; */
  /* box-sizing: border-box; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.signUpForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  /* line-height: 2;
    text-align: left; */
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-bottom: 13px;
  margin-top: 20px;
  /* color: #000;  */
  font-size: 14px;
  font-weight: 200;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex2 {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.flex2 div {
  margin: 20px;
}

.flex2 .logoDiv {
  margin-left: auto;
  margin-right: 10%;
  /* display: block; */
  text-align: center;
}

.changeQuantity {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid grey;
  justify-content: center;
}

.changeQuantity button {
  border: none;
  background-color: #e9ecee;
  font-size: large;
}

.checkoutFlex {
  display: flex;
  flex-direction: row;
}

.flexContainer {
  width: 50%;
}

.sticky {
  position: fixed;

  width: 100%;

  top: 50px;
  left: 0;
}
